/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: dimgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(dodgerblue, lightseagreen, dodgerblue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(red,purple,blue);
}